<div class="p-5 auto-margin max-width-800">
  <div class="is-flex is-flex-direction-row is-justify-content-space-between">
    <h1 class="title">Tara Pogančev</h1>
    <div>
      <a href="/">
        <button class="button">Todo List</button>
      </a>
    </div>
  </div>
  <hr />
  <div class="columns is-vcentered">
    <div class="column">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in neque
        metus. Vivamus malesuada vel libero sed sollicitudin. Quisque pretium
        dapibus erat, non rutrum orci suscipit mollis. Duis malesuada augue in
        rhoncus aliquam
      </p>
    </div>

    <div class="column">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in neque
        metus. Vivamus malesuada vel libero sed sollicitudin. Quisque pretium
        dapibus erat, non rutrum orci suscipit mollis. Duis malesuada augue in
        rhoncus aliquam. Ali pharetra, nibh sed fringilla ullamcorper, lacus
        arcu efficitMaecenas ullamcorper sed risus id gravida. Sed malesuada
        lacus sem, ornare tincidunt ligula consequat eget. Maecenas in tellus ut
        nisl finibus ultricies.
      </p>
    </div>

    <div class="column">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in neque
        metus. Vivamus malesuada vel libero sed sollicitudin. Quisque pretium
        dapibus erat,aecenas ullamcorper sed risus id gravida. Sed malesuada
        lacus sem, ornare tincidunt ligula consequat eget. Mae
      </p>
    </div>
  </div>
</div>
